/*---------------------------------------
    09. Common Tag
---------------------------------------*/

.common-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .tags {
        position: relative;
        z-index: 1;
        line-height: 28px;
        display: inline-block;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:not(:last-child) {
            margin-right: 10px;
            &::after {
                content: ",";
                position: absolute;
                right: -5px;
                bottom: 0;
            }
        }
        &.tag-color-1 {
            color: $promo-bg-1;
        }
        &.tag-color-2 {
            color: $promo-bg-2;
        }
        &.tag-color-3 {
            color: $promo-bg-3;
        }
        &.tag-color-4 {
            color: $promo-bg-4;
        }
        &.tag-color-5 {
            color: $promo-bg-5;
        }
        &.tag-color-6 {
            color: $promo-bg-6;
        }
        &.tag-bg-1 {
            color: $promo-bg-1;
            background: rgba($promo-bg-1, .1);
            &:hover {
                background: $promo-bg-1;
                color: $white;
            }
        }
        &.tag-bg-2 {
            color: $promo-bg-2;
            background: rgba($promo-bg-2, .1);
            &:hover {
                background: $promo-bg-2;
                color: $white;
            }
        }
        &.tag-bg-3 {
            color: $promo-bg-3;
            background: rgba($promo-bg-3, .1);
            &:hover {
                background: $promo-bg-3;
                color: $white;
            }
        }
        &.tag-bg-4 {
            color: $promo-bg-4;
            background: rgba($promo-bg-4, .1);
            &:hover {
                background: $promo-bg-4;
                color: $white;
            }
        }
        &.tag-bg-5 {
            color: $promo-bg-5;
            background: rgba($promo-bg-5, .1);
            &:hover {
                background: $promo-bg-5;
                color: $white;
            }
        }
        &.tag-bg-6 {
            color: $promo-bg-6;
            background: rgba($promo-bg-6, .1);
            &:hover {
                background: $promo-bg-6;
                color: $white;
            }
        }
    }
}