/*---------------------------------------
    14. Left Sidebar
---------------------------------------*/

.left-contents-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    @include responsive(allPhone) {
        display: block;
    }
    .product-left-content {
        @include responsive(allPhone) {
            max-width: 375px;
            width: 375px;
        }
    }
    .product-right-contents {
        width: 100%;
    }
}

.single-product-left {
    .product-left-title {
        &.open {
            .title {
                &::after {
                    -webkit-transform: rotate(0);
                    -ms-transform: rotate(0);
                    transform: rotate(0);
                }
            }
        }
        .title {
            cursor: pointer;
            position: relative;
            font-size: 20px;
            font-weight: 500;
            line-height: 36px;
            background: rgba($main-color-three, .07);
            color: var(--main-color-three);
            padding: 18px 40px;
            @include responsive(xl) {
                padding: 18px 30px;
            }
            @include responsive(lg) {
                padding: 18px 20px;
            }
            @include responsive(allPhone) {
                padding: 18px 20px;
                font-size: 18px;
            }
            @include responsive(xs) {
                font-size: 17px;
                padding: 15px 20px;
            }
            @include responsive(vxxs) {
                font-size: 16px;
                padding: 12px 20px;
            }
            &::after {
                content: "\f106";
                @include line-awesome;
                font-size: 16px;
                position: absolute;
                right: 40px;
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                -webkit-transition: (all 300ms);
                -o-transition: (all 300ms);
                transition: (all 300ms);
                @include responsive(xl) {
                    right: 30px;
                }
                @include responsive(lg) {
                    right: 20px;
                }
                @include responsive(allPhone) {
                    right: 20px;
                }
            }
        }
        .btn-wrapper {
            .cmn-btn {
                @include responsive(xl) {
                    padding: 7px 25px;
                }
                &.btn-outline-three {
                    @include responsive(xl) {
                        padding: 7px 25px;
                    }
                }
                @include responsive(lg) {
                    padding: 5px 20px;
                }
                &.btn-outline-three {
                    @include responsive(lg) {
                        padding: 5px 20px;
                    }
                }
                &:not(:last-child) {
                    @include responsive(xxs) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .product-left-list {
            padding: 40px;
            @include responsive(xl) {
                padding: 40px 30px;
            }
            @include responsive(lg) {
                padding: 40px 20px;
            }
            @include responsive(allPhone) {
                padding: 20px;
            }
            @include responsive(xxs) {
                padding: 20px 10px;
            }
            .btn-wrapper {
                .btn-bg-3 {
                    &:hover {
                        background: $white;
                        color: var(--main-color-three);
                        box-shadow: 0 0 5px rgba($main-color-three, .3);
                    }
                }
            }
            .product-lists {
                margin-top: -10px;
                .list {
                    font-size: 16px;
                    line-height: 26px;
                    display: block;
                    position: relative;
                    text-align: left;
                    z-index: 2;
                    padding-left: 30px;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    a {
                        display: block;
                        padding: 10px 0;
                        @include responsive(xl) {
                            padding: 12px 0;
                        }
                    }
                    &.active {
                        &::before {
                            @include line-awesome;
                            content: "\f00c";
                            background: var(--main-color-three);
                            border-color: var(--main-color-three);
                        }
                        a {
                            color: var(--light-color);
                            font-weight: 500;
                        }
                    }
                    &:hover {
                        >a {
                            color: var(--main-color-three);
                        }
                        &::before {
                            border-color: var(--main-color-three);
                        }
                    }
                    &.menu-item-has-children {
                        &:hover {
                            &::after {
                                color: var(--main-color-three);
                            }
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        border: 1px solid $steam-color;
                        left: 0;
                        top: 12px;
                        background: none;
                        border-radius: 3px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        font-size: 15px;
                        color: $white;
                        cursor: pointer;
                        -webkit-transition: all .3s;
                        -o-transition: all .3s;
                        transition: all .3s;
                    }
                    .submenu {
                        display: none;
                        .list {
                            line-height: 22px;
                            &::before {
                                top: 6px;
                            }
                            a {
                                padding: 5px 0;
                            }
                        }
                    }
                    &.menu-item-has-children {
                        &::after {
                            content: "\f067";
                            position: absolute;
                            right: 0;
                            top: 10px;
                            @include line-awesome;
                            cursor: pointer;
                            z-index: -1;
                        }
                        &.open {
                            &::after {
                                content: "\f068";
                            }
                        }
                    }
                    &:last-child {
                        a {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            .license-para-list {
                .license-para {
                    font-size: 14px;
                    color: var(--light-color);
                    line-height: 28px;
                    margin-top: 5px;
                    &::before {
                        @include line-awesome;
                        content: "\f00c";
                        margin-right: 5px;
                    }
                }
            }
            .license-lists {
                .list {
                    display: block;
                    &.active {
                        .anchor-list {
                            &::before {
                                @include line-awesome;
                                content: "\f00c";
                                background: var(--main-color-three);
                                border-color: var(--main-color-three);
                            }
                        }
                    }
                    .anchor-list {
                        font-size: 16px;
                        line-height: 26px;
                        color: var(--heading-color);
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        position: relative;
                        z-index: 2;
                        padding-left: 30px;
                        &::before {
                            content: "";
                            position: absolute;
                            height: 20px;
                            width: 20px;
                            border: 1px solid $steam-color;
                            left: 0;
                            top: 3px;
                            background: none;
                            border-radius: 3px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            font-size: 15px;
                            color: $white;
                            cursor: pointer;
                            -webkit-transition: all .3s;
                            -o-transition: all .3s;
                            transition: all .3s;
                        }
                        .license-price {
                            color: var(--main-color-three);
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
            .share-lists {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                .list {
                    &.active {
                        a {
                            background: var(--main-color-three);
                            color: $white;
                        }
                    }
                    a {
                        font-size: 16px;
                        line-height: 26px;
                        color: var(--light-color);
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        height: 37px;
                        width: 37px;
                        background: $alabaster-color;
                        border-radius: 5px;
                        -webkit-transition: all .3s;
                        -o-transition: all .3s;
                        transition: all .3s;
                        &:hover {
                            background: var(--main-color-three);
                            color: $white;
                        }
                    }
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
            .info-lists {
                .list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    font-size: 16px;
                    line-height: 26px;
                    color: var(--light-color);
                    @include responsive(vxxs) {
                        display: block;
                    }
                    strong {
                        width: 155px;
                        @include responsive(xl) {
                            width: 140px;
                        }
                        @include responsive(lg) {
                            width: 125px;
                        }
                        @include responsive(vxxs) {
                            display: block;
                        }
                    }
                    .info-right {
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        color: var(--light-color);
                        .version {
                            display: block;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
            .filter-lists {
                .list {
                    position: relative;
                    z-index: 2;
                    display: block;
                    padding-left: 30px;
                    &.active {
                        &::before {
                            @include line-awesome;
                            content: "\f00c";
                            background: var(--main-color-three);
                            border-color: var(--main-color-three);
                        }
                    }
                    a {
                        font-size: 16px;
                        line-height: 26px;
                        color: var(--main-color-three);
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        border: 1px solid $steam-color;
                        left: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        background: none;
                        border-radius: 3px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        font-size: 15px;
                        color: $white;
                        cursor: pointer;
                        -webkit-transition: all .3s;
                        -o-transition: all .3s;
                        transition: all .3s;
                    }
                    &:not(:last-child) {
                        margin-bottom: 7px;
                        @include responsive(xl) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .tag-lists {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-top: -10px;
                .list {
                    margin-right: 10px;
                    margin-top: 10px;
                    &.active {
                        a {
                            background: var(--main-color-three);
                            color: $white;
                            border-color: var(--main-color-three);
                        }
                    }
                    a {
                        border: 1px solid $steam-color;
                        font-size: 16px;
                        color: var(--light-color);
                        padding: 7px 20px;
                        display: inline-block;
                        -webkit-transition: (all 300ms);
                        -o-transition: (all 300ms);
                        transition: (all 300ms);
                        @include responsive(xl) {
                            padding: 10px 20px;
                        }
                        @include responsive(lg) {
                            padding: 6px 12px;
                            font-size: 14px;
                        }
                        @include responsive(xs) {
                            font-size: 15px;
                        }
                        @include responsive(vxxs) {
                            font-size: 14px;
                            padding: 5px 15px;
                        }
                        &:hover {
                            background: var(--main-color-three);
                            color: $white;
                            border-color: var(--main-color-three);
                        }
                    }
                }
            }
            .recent-lists {
                .list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    &:not(:last-child) {
                        margin-bottom: 25px;
                    }
                    .recent-thumb {
                        margin-right: 20px;
                        height: 110px;
                        width: 120px;
                        @include responsive(xl) {
                            width: 100px;
                            height: 100px;
                            margin-right: 15px;
                        }
                        @include responsive(lg) {
                            width: 80px;
                            height: 80px;
                            margin-right: 10px;
                        }
                        img {
                            height: 100%;
                            width: 100%;
                            -o-object-fit: cover;
                            object-fit: cover;
                        }
                    }
                    .recent-contents {
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        .common-dates {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.product-icon {
    display: none;
    @include responsive(allPhone) {
        display: block;
    }
    .sidebar-icon {
        font-size: 24px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 40px;
        width: 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: var(--main-color-three);
        -webkit-box-shadow: 0 0 10px rgba($steam-color, .5);
        box-shadow: 0 0 10px rgba($steam-color, .5);
        z-index: 95;
        color: $white;
        margin-bottom: 20px;
    }
}

.product-close-main {
    @include responsive(allPhone) {
        z-index: 1;
        position: absolute;
        left: -100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        z-index: 99;
        background: $white;
        max-width: 375px;
        display: block;
        padding: 20px;
        transition: all .5s;
        &.active {
            visibility: visible;
            opacity: 1;
            left: 0;
        }
        @include responsive(xxs) {
            max-width: 320px;
        }
        @include responsive(vxxs) {
            max-width: 270px;
        }
    }
    .close-bars {
        position: absolute;
        right: -40px;
        top: 0;
        font-size: 24px;
        color: $white;
        background: var(--main-color-three);
        -webkit-box-shadow: 0 0 10px rgba($steam-color, .5);
        box-shadow: 0 0 10px rgba(rgba($steam-color, .5), .5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 40px;
        width: 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        display: none;
        @include responsive(allPhone) {
            display: block;
        }
    }
}

.recent-post-contents {
    .recent-post-single {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .recent-post-flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            @include responsive(xxs) {
                display: block;
            }
            .recent-post-thumb {
                margin-right: 15px;
                height: 80px;
                min-width: 80px;
                display: inline-block;
                @include responsive(xxs) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                img {
                    height: 100%;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
            .recent-blog-contents {
                .recent-post-title {
                    font-size: 18px;
                    line-height: 28px;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    @include responsive(xxs) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .recent-date {
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }
}

.sidebar-search-form {
    .single-search-sidebar {
        position: relative;
        z-index: 1;
        .form--control {
            border: 0;
            background: rgba($steam-color, .2);
            padding: 0 40px 0 15px;
        }
        button {
            position: absolute;
            right: 15px;
            top: 0;
            height: 100%;
            background: none;
            font-size: 20px;
            z-index: 2;
            border: 0;
            cursor: pointer;
            outline: none;
        }
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .sidebar-overlay {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        background: rgba($black, .1);
        border-radius: 50%;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        &.active {
            visibility: visible;
            opacity: 1;
            z-index: 9;
            border-radius: 0;
            left: 0;
        }
    }
}