/*---------------------------------------
    38. Seller Profile Area
---------------------------------------*/

.profile-single-badge {
    .profile-badge-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        @include responsive(xs) {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .author-thumb {
            margin-right: 30px;
            @include responsive(allPhone) {
                margin-right: 20px;
                height: 150px;
                width: 150px;
            }
            @include responsive(xxs) {
                height: 120px;
                width: 120px;
            }
            @include responsive(vxxs) {
                height: 100px;
                width: 100px;
            }
            img {
                @include responsive(xs) {
                    height: 100%;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
        }
        .profile-badge-contetns {
            .profile-title {}
            .profiles-review {
                .icon {
                    color: var(--main-color-three);
                }
                .reviews {
                    color: var(--light-color);
                }
            }
        }
    }
}

.badge-profile-list {
    @include responsive(xs) {
        margin-top: 30px;
    }
    .lists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 20px;
        @include responsive(xs) {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        .list-span {
            display: block;
            color: var(--extra-light-color);
            font-size: 16px;
            line-height: 26px;
            @include responsive(xxs) {
                font-size: 14px;
            }
        }
        .list-strong {
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            color: var(--heading-color);
            max-width: 390px;
            @include responsive(xxs) {
                font-size: 14px;
            }
        }
    }
}

.order-completed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 20px;
    @include responsive(allPhone) {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 30px;
    }
    @include responsive(xs) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 41px;
        width: 41px;
        background: #30BB6F;
        color: $white;
        font-size: 24px;
        border-radius: 50%;
    }
}


/* Seller Profile area */

.seller-profile-details-area {}

.seller-profile-dashboard {}

.dashboard-address-details {
    width: 100%;
    .details-list {
        padding: 0;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        @include responsive(xs) {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
        &.column-count-one {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            .lists {
                padding-top: 25px;
                .list-strong {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 34px;
                    color: var(--heading-color);
                    max-width: 680px;
                    @include responsive(xxs) {
                        font-size: 15px;
                        line-height: 30px;
                    }
                    b {
                        display: block;
                        font-weight: 400;
                        padding-top: 30px;
                    }
                }
            }
        }
        .lists {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            .list-span {
                display: block;
                color: var(--extra-light-color);
                font-size: 16px;
                line-height: 26px;
                min-width: 140px;
                @include responsive(allPhone) {
                    min-width: 120px;
                }
                @include responsive(sm) {
                    min-width: 80px;
                }
                @include responsive(xxs) {
                    font-size: 14px;
                }
            }
            .list-strong {
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                color: var(--heading-color);
                max-width: 390px;
                @include responsive(xxs) {
                    font-size: 14px;
                }
            }
        }
    }
}

.seller-dashboard-list {
    padding: 0;
    .list {
        a {
            color: var(--light-color);
            overflow: hidden;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 17px 25px;
            cursor: pointer;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            @include responsive(xl) {
                padding: 17px 20px;
                font-size: 17px;
            }
            @include responsive(lg) {
                padding: 17px 15px;
                font-size: 17px;
            }
            @include responsive(allPhone) {
                font-size: 15px;
                padding: 15px 10px;
                border-radius: 5px;
            }
            i {
                margin-right: 5px;
                @include responsive(lg) {
                    margin-right: 2px;
                }
            }
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &.active {
            a {
                background: var(--main-color-three);
                font-weight: 500;
                color: $white;
            }
        }
        &:hover {
            a {
                background: var(--main-color-three);
                font-weight: 500;
                color: $white;
            }
        }
    }
}

.seller-profile-details-wrapper {
    .seller-profile-edit-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.title-seller {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    margin: -5px 0 0;
    @include responsive(allPhone) {
        font-size: 26px;
    }
    @include responsive(xxs) {
        font-size: 24px;
    }
    @include responsive(vxxs) {
        font-size: 22px;
    }
}


/* Seller Edit Profile  */

.dashboard-profile-flex {}

.single-dashboard-input {
    display: inline-block;
    width: 100%;
    .single-info-input {
        .info-title {
            font-size: 16px;
            font-weight: 500;
            color: var(--heading-color);
            margin-bottom: 15px;
        }
        .form--control {
            height: 60px;
            padding: 0 20px;
            color: var(--light-color);
            &::-webkit-input-placeholder {
                color: var(--light-color);
            }
            &::-moz-placeholder {
                color: var(--light-color);
            }
            &:-ms-input-placeholder {
                color: var(--light-color);
            }
            &::-ms-input-placeholder {
                color: var(--light-color);
            }
            &::placeholder {
                color: var(--light-color);
            }
        }
        .nice-select {
            height: 60px;
            line-height: 60px;
            width: 100%;
            color: var(--light-color);
            border: 1px solid rgba($steam-color, .3);
            border-radius: 10px;
            .list {
                width: 100%;
                margin-top: 25px;
            }
        }
    }
}


/* Seller Purchase History  */

.dashboard-purchase-details {
    @include responsive(sm) {
        text-align: center;
    }
}

.seller-purchase-wrapper {}

.single-purchase-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @include responsive(allPhone) {
        display: block;
    }
    .purchase-flex-contents {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 20px;
        @include responsive(sm) {
            display: block;
            text-align: center;
        }
        .purchase-thumbs {
            height: 135px;
            width: 190px;
            margin-right: 20px;
            @include responsive(xl) {
                width: 170px;
            }
            @include responsive(lg) {
                width: 160px;
            }
            @include responsive(sm) {
                margin: 0 auto 10px;
            }
            img {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .purchase-contents {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            .purchase-title {
                font-size: 22px;
                line-height: 32px;
                @include responsive(lg) {
                    font-size: 21px;
                }
                @include responsive(allPhone) {
                    font-size: 20px;
                }
                @include responsive(xs) {
                    font-size: 19px;
                }
                @include responsive(xxs) {
                    font-size: 18px;
                }
            }
            .common-dates {}
            .order-id {
                display: block;
            }
        }
    }
}

.border-padding-bottom {
    padding-bottom: 24px;
}

.purchase-download-icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    @include responsive(allPhone) {
        margin-top: 25px;
        text-align: left;
        @include responsive(sm) {
            text-align: center;
        }
    }
    .btn-wrapper {
        .cmn-btn {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
    .purchase-btn {
        .icon-btn {}
    }
}


/* Seller Order Status  */

.seller-status-details {}

.seller-order-status-wrapper {
    .single-seller-status {
        .title {
            @include responsive(xs) {
                text-align: center;
            }
        }
    }
}

.single-seller-status {
    padding: 30px;
    border-radius: 10px;
    @include responsive(allPhone) {
        padding: 20px 20px;
    }
    @include responsive(sm) {
        padding: 20px 10px;
    }
    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }
}

.seller-status-flex-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @include responsive(xs) {
        display: block;
    }
    .status-flex-single {
        @include responsive(xs) {
            text-align: center;
        }
        @include responsive(xs) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        .price-title {
            font-size: 35px;
            line-height: 55px;
            font-weight: 700;
            margin: 0;
            &.color-3 {
                color: var(--main-color-three);
            }
        }
        .date-titles {
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
        }
        .checkbox-inlines {
            margin-top: 20px;
            @include responsive(xs) {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-top: 5px;
            }
            .checkbox-label {
                font-size: 16px;
                line-height: 28px;
                color: var(--light-color);
                margin: 0;
                font-weight: 400;
            }
        }
        .order-titles {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
        }
        .reviews {
            display: inline-block;
            color: var(--main-color-three);
            font-size: 20px;
        }
        .seller-status-icons {
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            gap: 5px;
            .icon {
                text-align: center;
                padding: 0 5px;
                font-size: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border: 1px solid $steam-color;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                &:hover {
                    background: var(--main-color-three);
                    color: $white;
                }
            }
            .eye-icon {}
        }
    }
}

.icon {
    &.color-1 {
        color: var(--main-color-three);
    }
    &.color-2 {
        color: var(--main-color-two);
    }
    &.color-3 {
        color: var(--main-color-three);
    }
    &.color-4 {
        color: var(--main-color-four);
    }
}


/* Seller Responsive Dashboard Close */

.dashboard-close {
    @include responsive(allPhone) {
        background: $white;
        position: relative;
        z-index: 1;
        position: absolute;
        left: -100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        z-index: 99;
        width: 200px;
        height: 100vh;
        -webkit-box-shadow: 0 0 10px rgba($black, .1);
        box-shadow: 0 0 10px rgba($black, .1);
        border-radius: 5px;
        &.active {
            visibility: visible;
            opacity: 1;
            left: 0;
        }
    }
    .close-bars {
        position: absolute;
        right: -50px;
        top: 0;
        font-size: 30px;
        color: $white;
        background: var(--main-color-three);
        -webkit-box-shadow: 0 0 10px rgba(#ddd, .5);
        box-shadow: 0 0 10px rgba(#ddd, .5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 50px;
        width: 50px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        display: none;
        @include responsive(allPhone) {
            display: block;
        }
    }
}

.dashboard-icon {
    display: none;
    @include responsive(allPhone) {
        display: block;
    }
    .sidebar-icon {
        font-size: 30px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 50px;
        width: 50px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: var(--main-color-three);
        -webkit-box-shadow: 0 0 10px rgba(#ddd, .5);
        box-shadow: 0 0 10px rgba(#ddd, .5);
        z-index: 95;
        border-radius: 5px;
        color: $white;
    }
}


/* Oreder Completed  */

.order-completed-wrapper {
    margin: 0 auto;
    text-align: center;
    .order-completed-icon {
        @include responsive(allPhone) {
            height: 150px;
            width: 150px;
            margin: 0 auto;
        }
        @include responsive(xxs) {
            height: 120px;
            width: 120px;
        }
        @include responsive(vxxs) {
            height: 100px;
            width: 100px;
        }
        img {}
    }
    .order-complete-title {
        @include responsive(allPhone) {
            margin-top: 10px;
        }
    }
}

.order-complete-contents {
    background: $white;
    -webkit-box-shadow: 0 0 20px rgba($steam-color, .3);
    box-shadow: 0 0 20px rgba($steam-color, .3);
    text-align: left;
}

.single-complete-orders {
    .status-flex-single {
        .order-titles {}
        .details-list {
            .lists {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                gap: 15px;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                .list-span {
                    display: block;
                    color: var(--extra-light-color);
                    font-size: 16px;
                    line-height: 26px;
                    @include responsive(xxs) {
                        font-size: 14px;
                    }
                }
                .list-strong {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 28px;
                    color: var(--heading-color);
                    max-width: 390px;
                    @include responsive(xxs) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}